:host {
  height: 60vh;
  padding: 1rem;

  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-gap: 1rem;
  justify-content: center;

  border-top: 2px solid #e7f4ea;
}

h2 {
  margin-bottom: 0;
  text-align: center;
}

.cart--item-list-container {
  min-width: 320px;
  height: 100%;
  padding: 0 1rem;

  overflow-y: scroll;

  border-radius: 0.5rem;
  border: 2px solid #757575;
}

@media only screen and (max-width: 450px) {
  .cart--item-list-container {
    border: none;
  }
}

/* Total */

.total-section {
  padding: 0.5rem 1rem;

  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.total-number {
  font-weight: bold;
}

@media only screen and (max-width: 450px) {
  .total-section {
    border-top: 2px solid #00675b;
    border-bottom: 2px solid #00675b;
  }
}
