:host {
  display: grid;
  grid-template-columns: repeat(4, 125px);
  grid-gap: 1rem;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  :host {
    grid-template-columns: repeat(3, 125px);
  }
}

@media only screen and (max-width: 450px) {
  :host {
    grid-template-columns: repeat(2, 125px);
  }
}
